@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* Dark mode handling */
:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

